.portfolio__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:4.5rem;
    padding: 2rem;

}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 2.5rem;
    border-radius: 4rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    opacity: 0.6;
}
.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}
.portfolio__item h3{
    margin: 1.5rem 0 2rem;
}
.portfolio__image-Git {
    display:flex;
    gap: 1rem;
    margin-bottom:1rem;
}


/* =============== MEDIA QUERIES (MEDIUM DEVICES) ==========*/
@media screen and (max-width: 1024px) {
.portfolio__container {
    padding: 1.5rem;
    margin:0.5rem;
    gap: 2.5rem;
}
   
    
}


/* =============== MEDIA QUERIES (SMALL DEVICES) ==========*/
@media screen and (max-width: 600px) {
    .portfolio__container {
        display: block;
        width: 100%;
        padding: 1.5rem;
    }


    .portfolio__item{
        display: block;
        margin-bottom: 1.5rem;
    }

}